body{
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
     
  text-align: center;
  color: #154360;
  background-color: #F4D03F;
  padding: 20px;
  margin: auto;
 

/* 
  text-align: center;
  color: #154360;
  background: linear-gradient(to right, #F4D03F, #F7DC6F);
  padding: 20px;
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 1px; */



    /* text-align: center;
    font-size: 50px;
    color: white; */
}
td{
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
 border: 1px solid #ccc;

}
table {
  border-collapse: collapse;
  margin: 30px auto;
  /* border-spacing: 0; */
}
.group1{
    background-color: #ffb74d ;
    color: rgb(255, 255, 255);
}
.group2{
    background-color: #66bb6a;
    color: rgb(255, 255, 255);
}
.group3{
    background-color: #ffcc80;
    color: rgb(255, 255, 255);
}
.group4{
    background-color: #fff176;
    color: rgb(255, 255, 255);
}
.group5{
    background-color: #42a5f5 ;
    color: rgb(255, 255, 255);
}
.group6{
    background-color: #90a4ae ;
    color: rgb(255, 255, 255);
}
.group7{
    background-color: #ba68c8 ;
    color: rgb(255, 255, 255);
}
.group8{
    background-color: #ef5350;
    color: rgb(255, 255, 255);
}
.group9{
    background-color: #f06292;
    color: rgb(255, 255, 255);
}
.group10{
    background-color:  #9575cd;
     color: rgb(255, 255, 255);
}
td:hover {
    transform: scale(1.1);
    transition: 0.2s;
    border-color: black;
}